.skillsBlock{
    height: 100vh;
    background-color: blanchedalmond;
}
.skillsContainer{
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
    flex-direction: column;
}
.skills{
    border:1px solid gray;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.title{
    background-color: #cacaca;
}

.description{

}
